/***** Basic Colors *****/

:root {
  --pcolor: #424b54;
  --scolor: #d9cbab;
}
    
/***** General Styles *****/
body {
  background-color: var(--pcolor);
  background-size: 20px 20px;
  background-image: radial-gradient(circle, var(--scolor) 1px, rgba(0, 0, 0, 0) 1px);
}

p {
  font-family: 'Share Tech Mono', monospace;
  color: var(--scolor);
}

/***** Borders *****/

.card {
  background-color: var(--pcolor);
  border-radius: 0px;
  border: 2px solid var(--scolor);
  color: var(--scolor);
}

/***** Headings *****/
h1,h2,h3 {
  color: var(--scolor);
  font-family: 'Share Tech Mono', monospace;
}
