/****** Basics ******/

html, body {
  width: 100%;
  height:100%;
  margin:0;
}

:root {
  --dark: #1f2937;
  --xdark: #111827;
  --decor: #ddd;
  --accent: #5f9e97;
  --accent-bright: #96d9d1;
  --accent-dark: #35706a;
}

body {
  background: var(--dark);
  font-family: 'Ubuntu', sans-serif;
}

/****** Hero ******/

.hero-container {
  background: var(--dark) url('../../images/blurry-gradient-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.inner-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: var(--decor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** Hero Text ******/

.btitle {
  font-family: 'Yeseva One', cursive;
  font-size: 3em;
  text-spacing: 0.2em;
}

.subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
}

.herobtn {
  background: var(--accent);
  color: var(--decor);
  transition: background-color 0.2s ease-in;
  padding: 0.6em;
  margin: 1em;
  border: 2px solid var(--decor);
  border-radius: 16px;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  text-transform: lowercase;
}

.herobtn:hover {
  background: var(--accent-dark);
  color: var(--decor);
  transition: background-color 0.2s ease-out;
}


/****** Navbar ******/

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--dark);
  font-family: 'Ubuntu', sans-serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--accent);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  background-color: var(--dark);
  transition: color 0.2s ease-in;
}

.navbar li a:hover {
  color: var(--decor);
  transition: color 0.2s ease-out;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--accent);
  padding: 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--decor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--dark);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  color: var(--accent);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/****** Main Body ******/

.main-container {
  background: var(--decor);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.flex-container {
  margin: 4em;
  max-width: 850px;
  color: var(--dark);
}

/****** Footer ******/

.footer {
  display: flex;
  background: var(--dark);
  color: var(--decor);
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 16px 0px;
}

/****** Headings (h1, h2, h3) ******/

h1, h2, h3 {
  font-family:
}